{% extends 'base.html' %}
{% load static %}
{% load tag_utils %}

{% block head %}
    <style>
        .sort_bar a{
            cursor: pointer;
        }
        .pagenation a{
            cursor: pointer;
        }
    </style>

    <script>
        $(function () {
            var $pagenation = $(".pagenation a");

            var order_name = 'default';
            var cur_page = 1;

            var price_o = '1';

            {# 还未完成， 点击按价格排序后下面的序号还得重拍，也就是逻辑还得重做 —————— 已完成 #}
            $("#default_btn").click(function () {
                click_btn($(this), 'default')
            });

            $("#price_btn").click(function () {
                click_btn($(this), price_o);
                price_o *= -1;
            });

            $("#hot_btn").click(function () {
                click_btn($(this), 'hot')
            });

            $(".pagenation").delegate("a", "click", function () {
                npn = $(".pagenation .active").index();
{#                alert(npn)#}
                if ($(this).index() === 0){   {# 点击上一页 #}
                    if(cur_page > 1){
                        get_order_info(cur_page-1, order_name);
                        if(npn%5 === 1){
                            $pagenation.eq(npn).removeClass("active");
                            $pagenation.eq(5).addClass("active");
                        }else {
                            $pagenation.eq(npn).removeClass("active");
                            $pagenation.eq(npn-1).addClass("active");
                        }
                        npn--;
                        cur_page--;
                        {# 如果页码点击到分页的第一个，则将分页页码重置 —— 最后一个页码重置为之前的第一位页码 #}
                        if(cur_page%5 === 0){
                            for(var j=1; j <= 5; j++){
                                $pagenation.eq(j).text(cur_page+j-5)
                            }
                        }
                    }
                }else if ($(this).index() === $pagenation.size()-1){   {# 点击下一页 #}
                    if(cur_page < {{ loop_num }}){
                        get_order_info(cur_page+1, order_name);
                        if(npn%5 === 0){
                            $pagenation.eq(npn).removeClass("active");
                            $pagenation.eq(1).addClass("active");
                        }else {
                            $pagenation.eq(npn).removeClass("active");
                            $pagenation.eq(npn+1).addClass("active");
                        }
                        npn++;
                        cur_page++;
                        {# 如果页码点击到分页的最后一个，则将分页页码重置 —— 第一个页码重置为之前的最后一位页码 #}
                        if(cur_page%5 === 1){
                            for(var i=1; i <= 5; i++){
                                $pagenation.eq(i).text(cur_page+i-1)
                            }
                        }
                    }
                }else{    {# 点击页码 #}
                    get_order_info($(this).text(), order_name);
                    $(this).addClass("active").siblings().removeClass("active");
                    npn = $(".pagenation .active").index();
                    cur_page = parseInt($(this).text());
                }
                if(cur_page === {{ loop_num }}){
                    $("#np").css({"visibility": "hidden"})
                }else {
                    $("#np").css({"visibility": "visible"})
                }
                if(cur_page === 1){
                    $("#pp").css({"visibility": "hidden"})
                }else {
                    $("#pp").css({"visibility": "visible"})
                }

                {# 如果页码点击到分页的最后一个，则将分页页码重置 —— 第一个页码重置为之前的最后一位页码 #}

            });

            function get_order_info(pn, how) {
                $.get('{% url "goods:order_list" %}',{'cat': "{{ category.id }}", 'pn': pn, 'how': how} , function(data){
                    var content = '';
                    $.each(data.goods, function (index, item) {
                        content += '<li>' +
                        '<a href="' + '/goods/detail/' + item.id + '">' + '<img src="/static/' + item.pic + '">' + '</a>' +
                        '<h4><a href="' + '/goods/detail/' + item.id + '">' + item.name + '</a></h4>' +
                        '<div class="operate">' +
                            '<span class="prize">￥' + item.price + '</span>' +
                            '<span class="unit">' + item.price + '/' + item.unit + '</span>' +
                            '<a href="#" class="add_goods" title="加入购物车"></a>' +
                        '</div>' +
                    '</li>'
                    });
                    $(".goods_type_list").html(content);
                });
            }

            function click_btn(who, how) {
                order_name = how;
                get_order_info(1, how);
                who.addClass("active").siblings().removeClass("active");
                $pagenation.eq(1).addClass("active").siblings().removeClass("active");
                $("#np").css({"visibility": "visible"});
                $("#pp").css({"visibility": "hidden"});
            }
        });

        function add_cart(gid) {
            {# 先判断有没有登录 #}
            var count = 0;
            if ('{{ request.session.is_login }}' === '1'){  {# 登录了 #}
                {# 购物车数字加一，并往数据库添加一条数据 #}
                $.post('/cart/add_cart/', {'uid': {{ user.id }}, 'gid': gid,  'gcount': '1', "csrfmiddlewaretoken": '{{ csrf_token }}'}, function (data) {
                    alert(data.res)
                });
{#                $(".goods_count")#}
            }else {    {# 没登录 #}
                {# 先跳转登录界面，然后在执行上面登录后的操作 #}
            }
{#            $.get('/add_cart/', {'rpath':'{{ request.path }}'}, function () {#}
{##}
{#            })#}
        }
    </script>
{% endblock %}



{% block body %}

    <div class="search_bar clearfix">
        <a href="{% url 'goods:index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
        <div class="search_con fl">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
        <div class="guest_cart fr">
            <a href="#" class="cart_name fl">我的购物车</a>
            <div class="goods_count fl" id="show_count">0</div>
        </div>
    </div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="{% url 'goods:list' 1 %}" class="fruit">新鲜水果</a></li>
					<li><a href="{% url 'goods:list' 2 %}" class="seafood">海鲜水产</a></li>
					<li><a href="{% url 'goods:list' 3 %}" class="meet">猪牛羊肉</a></li>
					<li><a href="{% url 'goods:list' 4 %}" class="egg">禽类蛋品</a></li>
					<li><a href="{% url 'goods:list' 5 %}" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="{% url 'goods:list' 6 %}" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url 'goods:index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="{% url 'goods:index' %}">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="{% url 'goods:index' %}">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="{% url 'goods:index' %}">全部分类</a>
		<span>></span>
		<a href="{% url 'goods:list' category.id %}">{{ category.name }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for new in new_list %}
                        <li>
                            <a href="{% url 'goods:detail' new.id %}"><img src="/static/{{ new.pic }}"></a>
                            <h4><a href="{% url 'goods:detail' new.id %}">{{ new.name }}</a></h4>
                            <div class="prize">￥{{ new.price }}</div>
                        </li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a id="default_btn" class="active">默认</a>
				<a id="price_btn">价格</a>
				<a id="hot_btn">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for good in goods %}
                    <li>
                        <a href="{% url 'goods:detail' good.id %}"><img src="/static/{{ good.pic }}"></a>
                        <h4><a href="{% url 'goods:detail' good.id %}">{{ good.name }}</a></h4>
                        <div class="operate">
                            <span class="prize">￥{{ good.price }}</span>
                            <span class="unit">{{ good.price }}/{{ good.unit }}</span>
                            <a href="javascript:add_cart({{ good.id }});" class="add_goods" title="加入购物车"></a>
                        </div>
                    </li>
                {% endfor %}
			</ul>


			<div class="pagenation">
                <a id="pp" style="visibility: hidden"><上一页</a>
                {% if loop_num > 6 %}

                    {% for i in 5|ntl %}
                        {% if forloop.first %}
                            <a class="active">{{ forloop.counter }}</a>
                        {% else %}
                            <a >{{ forloop.counter }}</a>
                        {% endif %}
                    {% endfor %}

                {% else %}

                    {% for j in loop_num|ntl %}
                        {% if forloop.first %}
                            <a class="active">{{ forloop.counter }}</a>
                        {% else %}
                            <a >{{ forloop.counter }}</a>
                        {% endif %}
                    {% endfor %}

                {% endif %}
{#                {% for pindex in loop_num %}#}
{#                    {% if forloop.first %}#}
{#                        <a class="active">{{ forloop.counter }}</a>#}
{#                    {% else %}#}
{#                        <a >{{ forloop.counter }}</a>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
                <a id="np">下一页></a>
			</div>


		</div>
	</div>

{% endblock %}